/* Main CSS for Chickadee Tree */
/* * Start Web Fonts * */
/* Pizzicato */
@font-face {
    font-family: 'PizzicatoProRegular';
    src: url('assets/fonts/pizzicato-pro-regular-webfont.woff') format('opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'PizzicatoProRegular-Ultra';
    src: url('assets/fonts/pizzicato-pro-ultra-webfont.woff') format('opentype');
    font-style: normal;
    font-weight: bold;
}

/* End Pizzicato */
/* * End Web Fonts * */
body {
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: PizzicatoProRegular;
}

header .nav {
    flex-direction: row-reverse;
    display: none;

    /* Commenting out the login nav as not using */
}

.mainColor {
    color: #fff;
    background-color: #4a1707;
    border-color: #621e09;
}

.card {
    margin-bottom: 10px;
}

.btn.mainColor {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #8d4c2d;
}

.btn.mainColor:hover {
    color: #fff;
    text-decoration: none;
    background-color: #4a1707;
}

/* Change hover state of sibling links in cards */
.card:hover .btn.mainColor {
    color: #fff;
    text-decoration: none;
    background-color: #4a1707;
}

.card:hover a {
    text-decoration: underline;
}

/* End Change Hover States of sibling links in cards */
#prodCarousel .carousel {
    position: relative;
    clear: both;
    display: block;
    margin-top: 30px;
    width: 500px;
    overflow: hidden;
}

.jumbotron {
    height: 100px;
    background-color: #fff;
    background-image: url('assets/logo.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    background-origin: inherit;
    margin-bottom: -5px;
}

.main-nav {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 10px;
    padding-bottom: 0px;
    height: 55px;
    line-height: 1px;
    border-top: 7px solid #4a1707;
    border-bottom: 4px solid #4a1707;
}

.navbar-toggler,
.navbar-toggler.collapsed {
    padding: 3px;
}

.navbar-collapse.collapse.show {
    padding: 5px;
    background: whitesmoke;
    z-index: 3333;
}

.main-nav .nav-item {
    padding: 4px 0;
}

.main-nav .nav-item.active {
    padding: 4px 0;
    background: bisque;
}

.main-nav .navbar-nav .nav-item.show {
    position: relative;
}

.main-nav .nav-item:hover {
    padding: 4px 0;
    color: white;
    background: #4a1707;
}

.main-nav .nav-item:hover .dropdown-menu.show a {
    color: #4a1707 !important;
}

.main-nav .nav-item:hover .dropdown-menu.show a:hover {
    color: #fff !important;
}

.main-nav .nav-item:hover a {
    color: white !important;
}

.navbar-nav .nav-item.show .dropdown-menu.show .dropdown-item {
    display: block;
    width: 100%;
    height: 25px;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    line-height: 20px;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.navbar-nav .nav-item.show .dropdown-menu.show .dropdown-item:hover {
    color: white;
    background-color: #4a1707;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled > a {
    color: currentColor;
    display: inline-block;

    /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

footer {
    height: 80px;
    display: flex;
    vertical-align: middle;
    background: #4b4b4b;
}

footer .nav {
    vertical-align: middle;
    align-self: center;
}

footer ul.nav li.nav-item a {
    color: #fff;
}

footer ul.nav li.nav-item a.active {
    font-weight: bold;
}

.jumbotron h1 {
    margin: 0;
    padding-bottom: 0;
    padding-left: 60px;
    height: 60px;
    text-align: left;
    bottom: 0;
    position: relative;
}

.productPage {
    background: #000;
    color: #ffffff;
    margin-top: -15px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
	min-height: 700px;
}

#prodCarousel .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 350px !important;
}

#prodCarousel .productPhotoMain {
    min-width: 280px;
    max-width: 350px;
    min-height: 150px;
    border: 10px solid #ffffff;
}

#prodCarousel .w-100 {
    width: 100% !important;
    max-width: 350px;
    height: 100% !important;
}

.prodThum {
    width: 100%;
    border: 3px solid #ffffff;
}

.thumbRow {
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.cartBtn {
    display: block;
    margin-top: 20px;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.isDisabled > a {
    color: currentColor;
    display: inline-block;

    /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

.breadcrumb {
    display: block;
    margin: -10px 0 10px 0;
    padding: 0 0 0 25px;
    height: 28px;
    background: #d3d3d3;
}

.breadcrumb-item {
    display: inline-block;
    padding-right: 5px;
    font-size: small;
}

@media (max-width:575px) {
    .jumbotron {
    	margin-bottom: -5px;
    	position: relative;
    	height: 60px;
    	padding: 1rem .5rem;
    	background-color: #fff;
    	background-image: url('assets/logo.png');
    	background-repeat: no-repeat;
    	background-position: left top;
    	background-size: contain;
    	background-origin: inherit;
    }

    .jumbotron h1 {
        margin-left: 50px !important;
        text-align: left;
        top: 10px;
        height: 50px;
        position: absolute;
        font-size: xx-large;
    }
}

@media screen && (min-width:991px) {
    .main-nav {
        border-top: 7px solid #4a1707;
        border-bottom: 4px solid #4a1707;
        margin-bottom: 10px;
        padding-bottom: 0px;
        height: 40px;
        line-height: 1px;
    }
}

.jumbotron h1 a {
    color: inherit !important;
}
